@use "reset";

.footer-wrapper {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-box {
  width: 115px;
  height: 102px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & > img {
    width: 90%;
  }
}

.sns-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
}